html, body, #container /*, and all other map parent selectors*/ {
    height: 100%;
    overflow: hidden;
    width: 100%;
  }
  #map {
    width: auto;
    height: 100%;
  }
  .myControlCoords {
    padding-top:50%;
    padding-left: 50%;
 }